<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFX0ggzb4ZIcOl_09IoaUR2CD98bhVn8I</string>
	<key>GCM_SENDER_ID</key>
	<string>734538137018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babylonLogin</string>
	<key>PROJECT_ID</key>
	<string>babylon-login-7e3fa</string>
	<key>STORAGE_BUCKET</key>
	<string>babylon-login-7e3fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734538137018:ios:38aa2c7b9f2ab259e2f183</string>
</dict>
</plist>